<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Receitas</li>
  </ol>
</nav>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Descricao</th>
    <th>Categoria</th>
    <th>Valor</th>
    <th>Data</th>
    <th>Ação</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>sdsdf</td>
    <td>sdsdf</td>
    <td>Editar</td>
    <td>sdsdf</td>
    <td>Editar</td>
  </tr>
  </tbody>
</table>
